<nav>
    <div class = "site-title">
        <a href="/"><h1>Valeri's online journal</h1></a>
        <p> A Valeriy Shevchenko Site</p>
    </div>
    <ul>
        <li><a href="/">Weblog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Weblog</a></li>
    </ul>
</nav>