<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

<%- include("./partials/nav.ejs") %>
<!--<nav>
    <div class = "site-title">
        <a href="/"><h1>Valeri's Blog</h1></a>
        <p> A Valeriy Shevchenko Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>-->



<div class="about content">
    <h2>About Me</h2>
    <p>My name is Valeriy Shevchenko </p>
    <p>About a year ago, I decided to go all in on delivering the highest quality guides on everything I know (and continue learning) about blogging here on my own blog. </p>
    <p>99% of my blog content is free</p>
</div>

<%- include("./partials/footer.ejs") %>

</body>
</html>